.App {
  background-color: aqua;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.prizecard{
  width: 300px;
  margin: 50px;
  height: 510px;
  background-color: whitesmoke;
  padding: 20px;
  border: 1px solid black;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  
  
}
li{
  list-style: none;
}
button{
  width: 250px;
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  color: aliceblue;
  background-color:rgb(9, 190, 250);
  border: none;
}
ul{
  text-align: start;
}
h2{
  color: rgb(117, 113, 113);
}
.disable1{
  opacity: 0.5;
}
.disable2{
  opacity: 0.5;
}
.disable3{
  opacity: 0.5;
}
.disable4{
  opacity: 0.5;
}
.disable5{
  opacity: 0.5;
}
.disable6{
  opacity: 0.5;
}
.disable7{
  opacity: 0.5;
}
.disable8{
  opacity: 0.5;
}